name: Docker Image CI

on:
  push:
    branches: [ "master","main" ]
  pull_request:
    branches: [ "master","main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: docker login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}      
      - name: Build and push Docker images
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          platforms: amd64
          push: true
          tags: ${{ github.repository_owner }}/jacoco-agent-docker:${{ github.ref_name }}
        
